.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    background-color: #0984E3;
    box-shadow: 10px 10px 0px #fff;
}

.card-project.-blue {
    background-color: #74B9FF;
}

