.main-section {
    background-color: #000026;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #030317;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlue{
    background: #154676;
}

.main-section.-bdFirst {
    border-color: #4C6DAB;
}